body{
	display: block;
	margin: 0;
  	padding: 0;
}
.topmenu{
	text-align: center;
	height: 50px;
	margin: 0;
	border: 1px solid white;
}

img{

	float: left;
	height: 50px;
	width: 70px;
}

.topmenu nav{
	padding: 0;
	margin-top: 20px;
}

.topmenu nav a{
	color: black;
	text-decoration: none;
}
/*ul {
  list-style-type: none; 
}

li{
	display: inline;
	padding: 2px;
}
li a{
  padding: 10px;
  color: white;
  text-decoration: none; 	 	
  background-color: blue;
  border: 2px solid white;
}*/

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 150px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1{
	font-family: "Montserrat";
	font-size: 25px;
}
.centered p{
	margin: 0; 	
  	font-size: 1.0rem;
}

.homecontainer{
 position: relative;
  text-align: left;
  color: white;
  height: 300px;
}

.homecentered{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homecentered h1{
	margin: 0;
	color: #e65c00;
}

.homecentered i{
	margin: 0;
	color: white;
}
main{
	text-align: center;
	position: relative;
}

#wrapper{
	position: relative; /*Relavtive makes the footer appear on the end of the page*/
	bottom: 0;
	left:0;
	width: 100%;
	padding: 0;
	margin: 0;
}

.footer-img{
	position: relative;
	height: 100px;
}

.footer-img-contact{
	position: relative;
	height: 175px;
}
.footer-2{
	padding: 0;
	text-align: center;
	height: 100px;
	background-color: #2f362e
}

.footer-3{
	border: 1px solid #424541;
	margin: 0;
	background-color: #424541;
}

.footer-1-content{
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -50%);
}

.footer-1-content p{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 30px;
	color: white;
}

#con_color{
	color: #e65c00;
}

#imgid{
	width: 100%;
	height: 100%;
	
}

.footer-1-content ul{
	list-style-type: none; 
}

.footer-1-content li{
	font-family: "Montserrat";
	font-size: 1.2em;
	color: white;
	display: inline;
	padding: 10px;
}

.enviar{
	padding: 10px 15px;
	color: white;
	background-color: #e65c00;
	border: none;
}
#email-us{
	line-height: 28px;

}
#nosotros{
	color: #e65c00;
	font-size: 1.2em;
}

#email-logo{
	color: white;
	font-size: 30px;
}

section{
	text-align: center;
}
.director-img{
	position: relative;
}

.director-img li{
	border: 1px solid #e6e4e1;
	display: inline-block;  /*inline block makes the images to center*/
	padding: 0;
	margin: 20px;
}

.director-img li img{
	padding: 0;
	height: 150px;
	width: 200px;
}

.teams{
	margin-left: 28%;
	margin-right: 28%;
	position: relative;
	text-align: left;
	padding: 0;
}
.teams li{
	text-align: center;
	border: 1px solid #e6e4e1;
	display: inline-block;
	padding: 0;
	margin: 10px 10px 0 0;
}

.teams li img{
	padding: 0;
	height: 100px;
	width: 150px;
}

#footer-apps{

	margin-left: 50px;
}
#footer-apps li{
	display: inline;
}

#footer-apps li:first-child{
	color: #e65c00;
}

#myteam i:first-child{
	color: #e65c00;
}

main i:first-child{
	color: #e65c00;
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 20%;
  text-align: left;
}

.column1{
	float: left;
  width: 30%;
  padding: 10px;
  margin-right: 20%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*{
  box-sizing: border-box;
}

.column h1{
	padding: 0;
	margin: 0;
}

.column1 h1{
	padding: 0;
	margin: 0;
}

.contacto{
	color: #e65c00;
	
}
.inputT{
	height: 40px;
	padding: 10px;
}

.contact-img{
	list-style-type: none; 
}

.contact-img li{
	padding: 30px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.nosotroscolumn {
  float: left;
  width: 30%;
  padding: 30px;
  margin-left: 20%;
  text-align: left;
  overflow: visible;
}

.nosotroscolumn1{
	float: left;
  width: 30%;
  padding: 30px;
  margin-right: 20%;
  text-align: left;
}

/*.nosotrosrow:after {
  content: "";
  display: table;
  clear: both;
}*/

.column31{
	float: left;
  width:25%;
  padding: 20px;
  margin-left: 12.5%;
}
.column32{
	float: left;
  width:25%;
  padding: 20px;
}
.column33{
	margin-right: 12.5%;
	float: left;
  width:25%;
  padding: 20px;
}

.column31,.column32,.column33 p{
	text-align: left;
	
}

/*.column31,.column32,.column33 h4{	
	color: #a3a29e;
}*/
.que{
	color: #a3a29e;
	border: 1px solid #d7dbd8;
	padding: 40px;
}

.row u{
	text-decoration-color: #e65c00;
}

.row i{
	color: #e65c00;
}

h2{
	font-family: "Montserrat";
	font-weight: 600;
	color: #222222;
}

.objective{
	margin-left: 28%;
	margin-right: 28%;
	
	margin-top: 20px;
	padding: 20px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.objective h2{
	margin: 0;
}

.objective p{
	margin: 0;
}

.mainnos h2{
	margin-bottom: 0;
}

.mainnos .row{
	margin-top: 0;
}

.events {
  float: left;
  width: 40%;
  
  padding: 15px 10px;
  margin-left: 10%;
  text-align: left;
  background-color: #e65c00;
}

.events p{
	color: white;
}
.register{
	background-image: url("../img/homepage-one-banner.jpg");
	float: left;
  width: 40%;	
  
  padding: 10px;
  margin-right: 10%;
  text-align: center;
  background-size: cover;
  color: white;

}

/* Clear floats after the columns */
.registrar:after {
  content: "";
  display: table;
  clear: both;
}
.register h2{
	padding: 0;
	margin: 0;
	color: white;
}

/*.register p{
	padding: 0;
	margin: 0;
	color: white;
}*/

.register button{
	float: left;
	margin-left: 50px;
	width: 200px;
	padding: 5px;
}
.reg_back{
	size: 80px;
background: transparent;
color: white;
padding: 5px;
margin: 10px;
}

.aliados{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background-color: #d7deda;
	border: 1px solid #d7deda;
}

.aliados_ul{
	margin-top: 50px;
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -50%);

 }

.aliados_ul li{
	padding: 0 10%;
	position: relative;
	display: inline-block;
}

.aliados_ul li img{
	width: 150px;
}

.aliados i{
	color: #e65c00;
}

.mainblog{
	margin-top: 50px;
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -50%);
  	margin-bottom: 0;
}

.mainblog li{
	margin-top: 5%;
	margin-right: 2%;
	position: relative;
	display: inline-block;
	border: 1px solid #dbd5d5;
}

.mainblog li img{
	height: 100px;
	width: 300px;
}

.blog i{
	color: #e65c00;
}

.events ul{
	list-style-type: none;
	text-align: center;
}

.events li{
	text-align: center;
	display: inline-block;
	padding: 0 50px;
	margin-left: 40px;
	clear: left;
}

.events li img{

}

.home{	
	z-index: 1;

}

.overhome{
	position: absolute;	
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.register select{
	width: 40%;
	padding: 6px;
}