body{
	display: block;
	margin: 0;
  	padding: 0;
}
.topmenu{
	text-align: center;
	height: 50px;
	margin: 0;
	border: 1px solid white;
}

img{

	float: left;
	height: 50px;
	width: 70px;
}

.topmenu nav{
	padding: 0;
	margin-top: 20px;
}

.topmenu nav a{
	font-family: Roboto;
	color: black;
	text-decoration: none;
}
/*ul {
  list-style-type: none; 
}

li{
	display: inline;
	padding: 2px;
}
li a{
  padding: 10px;
  color: white;
  text-decoration: none; 	 	
  background-color: blue;
  border: 2px solid white;
}*/

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 150px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1{
	font-size: 25px;
}
.centered p{
	margin: 0; 	
  	font-size: 1.0rem;
}

.homecontainer{
 position: relative;
  text-align: left;
  color: white;
  height: 300px;
}

.homecentered{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homecentered h1{
	margin: 0;
	color: #e65c00;
}

.homecentered i{
	margin: 0;
	color: white;
}
main{
	text-align: center;
	position: relative;
}

#wrapper{
	position: relative; /*Relavtive makes the footer appear on the end of the page*/
	bottom: 0;
	left:0;
	width: 100%;
	padding: 0;
	margin: 0;
}

#wrapper1{
	position: absolute; /*Relavtive makes the footer appear on the end of the page*/
	bottom: 0;
	left:0;
	width: 100%;
	padding: 0;
	margin: 0;
}

.footer-img{
	position: relative;
	height: 100px;
}

.footer-img-contact{
	position: relative;
	height: 175px;
}
.footer-2{
	border: 1px solid #2f362e;
	padding: 0;
	text-align: center;
	height: 100px;
	background-color: #2f362e;
}

.footer-2 ul{
	list-style-type: none;
}

.footer-2 li{
	display: inline-block;
	padding:10px;
	margin: 0;
}

.footer-2 img{
	height: 30px;
	width: 30px;
}
.footer-3{
	border: 1px solid #424541;
	margin: 0;
	background-color: #424541;
}

.footer-1-content{
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -50%);
}

.footer-1-content p{
	margin-left: 20%;
	margin-right: 20%;
	font-size: 30px;
	color: white;
}

#con_color{
	color: #e65c00;
}

#imgid{
	width: 100%;
	height: 100%;
	
}

.footer-1-content ul{
	list-style-type: none; 
}

.footer-1-content li{
	/*font-family: "Montserrat";*/
	font-size: 1.2em;
	color: white;
	display: inline;
	padding: 10px;
}

.enviar{
	padding: 10px 15px;
	color: white;
	background-color: #e65c00;
	border: none;
	width: 150px;
}
#email-us{
	line-height: 28px;

}
#nosotros{
	color: #e65c00;
	font-size: 1.2em;
}

#email-logo{
	color: white;
	font-size: 30px;
}

section{
	text-align: center;
}
.director-img{
	position: relative;
}

.director-img li{
	border: 1px solid #e6e4e1;
	display: inline-block;  /*inline block makes the images to center*/
	padding: 0;
	margin: 20px;
}

.director-img li img{
	padding: 0;
	height: 150px;
	width: 200px;
}

.teams{
	margin-left: 28%;
	margin-right: 28%;
	position: relative;
	text-align: left;
	padding: 0;
}
.teams li{
	text-align: center;
	border: 1px solid #e6e4e1;
	display: inline-block;
	padding: 0;
	margin: 10px 10px 0 0;
}

.teams li img{
	padding: 0;
	height: 100px;
	width: 140px;
}

#footer-apps{

	margin-left: 50px;
}
#footer-apps li{
	display: inline;
}

#footer-apps li:first-child{
	color: #e65c00;
}

#myteam i:first-child{
	color: #e65c00;
}

main i:first-child{
	color: #e65c00;
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 20%;
  text-align: left;
}

.column1{
	float: left;
  width: 30%;
  padding: 10px;
  margin-right: 20%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*{
  box-sizing: border-box;
}

.column h1{
	padding: 0;
	margin: 0;
}

.column1 h1{
	padding: 0;
	margin: 0;
}

.contacto{
	color: #e65c00;
	
}
.inputT{
	height: 40px;
	padding: 10px;
}

.contact-img{
	list-style-type: none; 
}

.contact-img li{
	padding: 25px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.nosotroscolumn {
  float: left;
  width: 30%;
  padding: 30px;
  margin-left: 20%;
  text-align: left;
  overflow: visible;
}

.nosotroscolumn1{
	float: left;
  width: 30%;
  padding: 30px;
  margin-right: 20%;
  text-align: left;
}

/*.nosotrosrow:after {
  content: "";
  display: table;
  clear: both;
}*/

.column31{
	float: left;
  width:25%;
  padding: 20px;
  margin-left: 12.5%;
}
.column32{
	float: left;
  width:25%;
  padding: 20px;
}
.column33{
	margin-right: 12.5%;
	float: left;
  width:25%;
  padding: 20px;
}

.column31,.column32,.column33 p{
	text-align: left;
	
}


.que{
	color: #a3a29e;
	border: 1px solid #d7dbd8;
	padding: 40px;
}

.row u{
	text-decoration-color: #e65c00;
}

.row i{
	color: #e65c00;
}

h2{
	/*font-family: "Montserrat";*/
	font-weight: 600;
	color: #222222;
}

.objective{
	margin-left: 28%;
	margin-right: 28%;
	margin-top: 2%;
	padding: 20px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.objective h2{
	margin: 0;
}

.objective p{
	margin: 0;
}

.mainnos h2{
	margin-bottom: 0;
}

.mainnos .row{
	margin-top: 0;
}


.events {
  float: left;
  width: 40%;
  padding: 2% 0.5%;
  margin-left: 10%;
  text-align: left;
  background-color: #e65c00;
}

.events p{
	font-size: 100%;
	color: white;
}
.register{
	background-image: url("../img/homepage-one-banner.jpg");
	float: left;
  width: 40%;	
  padding: 6px;
  margin-right: 10%;
  text-align: center;
  background-size: cover;
  color: white;

}

.registrar{
	display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
}

.registrar .events, .register     { flex: 1;}

/* Clear floats after the columns */
/*.registrar:after {
  content: "";
  display: table; 
  clear: both; 
  height: 0;
}*/

.register h2{
	padding: 0;
	margin: 0;
	color: white;
}

/*.register p{
	padding: 0;
	margin: 0;
	color: white;
}*/

.register button{
	float: left;
	margin-left: 9%;
	width: 40%;
	padding: 5px;
}

.register ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: center;
	left: 50%;
}

.register li{
	text-align: center;
	margin: 0;
	padding: 0;
	display: inline;
}

.reg_back{
	width: 40%;
background: transparent;
color: white;
padding: 5px;
margin: 5px;
}

.aliados{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background-color: #d7deda;
	border: 1px solid #d7deda;
}

.aliados_ul{
	margin-top: 50px;
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -50%);

 }

.aliados_ul li{
	padding: 0 10%;
	position: relative;
	display: inline-block;
}

.aliados_ul li img{
	width: 150px;
}

.aliados i{
	color: #e65c00;
}

.mainblog{
	/*margin-top: 10%;*/
	left: 50%;
	position: relative;
	text-align: center;
  	transform: translate(-50%, -0%);
  	margin-bottom: 0;
  	
}

.mainblog li{
	margin-top: 5%;
	margin-right: 2%;
	position: relative;
	display: inline-block;
	border: 1px solid #dbd5d5;
}

.mainblog li img{
	height: 100px;
	width: 300px;
}

.blog{
	position: relative;
}
.blog i{
	color: #e65c00;
}

.events ul{
	list-style-type: none;
	text-align: center;
}

.events li{
	text-align: center;
	display: inline-block;
	padding: 0 7%;
	/*margin-left: 40px;*/
	/*clear: left;*/
}

.events li img{
	width: 40%;
}

.home{	
	z-index: -1;

}

.overhome{
	position: absolute;	
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
}

.register select{
	width: 40%;
	padding: 6px;
}


.sidemenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: absolute;
  height:700px;
  /*overflow: auto;*/
}

.sidemenu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.sidemenu li a.active {
  background-color: #4CAF50;
  color: white;
}

.sidemenu li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.eventstable{
	margin-left:25%;
	margin-right: 20%;
	text-align: left;
	height: 700px;
}

.eventstable table{
	text-align: center;
	border: 1px solid black;
	padding: 10px;
}

#displayevent th{
	padding: 20px 100px 0 ;
}

#displayevent td{
	padding: 10px;
}

.edit{
	background-color: #65f0e6;
	color: black;
	width: 25%;
}

.delete{
	color: white;
	width: 25%;
	background-color: #f55673;
}

.addevent{
	padding-top: 100px;
	border: 1px solid white;
	margin-left:25%;
	margin-right: 20%;
	text-align: center;
	height: 700px;
}
.addevent ul{
	list-style-type: none;

}

.addevent li{
	display: inline-block;
	padding-right: 30px;
}

.addeventin{
	width: 300px;
	height: 30px;
	padding: 2px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  position: relative;
  transition: all 0s ease-in-out;

}

.popup h1 {
  margin-top: 0;
  color: #333;

}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.popup_indiv {
	border-top: 1px solid #b3b6ba; 
	border-bottom: 1px solid #b3b6ba;
	padding-top: 30px;
	padding-bottom: 40px;
}

.logintext {
	height: 40px;
	width: 94%;
	padding: 10px;
	border:1px solid #ccc;
	border-radius: 5px;
}

.enviar1{
	padding: 15px 18px;
	color: white;
	background-color: #e65c00;
	border: none;
	float: right;
}

#foot_button{
	background: #e65c00;
	padding: 4px 15px;
	float: right;
	margin-right: 20%;
	border: none;
	color: white;
}

h1,h2,h3,h4,h5,h6{
	font-family: Roboto;
}

p{
	font-family:  Montserrat;
}

.popup i{
	color: #e65c00;
}